{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}


   
{% block body %}
<div class="col-3 mx-auto my-5 p-3 bg-light rounded-3" style="min-width:250px;max-width:300px;">
    <h3>nouveau produit</h3>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">back to list</a>
    </div>
{% endblock %}
